@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-LightItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Italic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-LightItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/static/webfonts/PlusJakartaSans-Italic.woff2') format('woff2'),
        url('/static/webfonts/PlusJakartaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
