iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
iframe{
  margin-left: 0;
}
body{
  font-family: 'Plus Jakarta Sans';
  color: white;
  margin-left: 15vh;
  padding: 0;
  background-image: url('/static/starbg.png');
  text-align: center;
}
.left-aligned{
  text-align: left;
}
@media (orientation:landscape){
.subtitle{
  top: 7.5px;
  margin: 0;
  font-size: 10vh;
  text-align: center;
}
#titleh1{
  margin: 0;
  bottom: 0;
  font-size: 5em;
  text-align: center;
}
#center-logo{
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  margin-bottom: auto;
}
}
@media (orientation: portrait) {
  .subtitle{
  top: 7.5px;
  margin: 0;
  font-size: 10vw;
  text-align: center;
}
#titleh1{
  margin: 0;
  bottom: 0;
  font-size: 5em;
  text-align: center;
}
#center-logo{
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vw;
  margin-bottom: auto;
}
}
#projectframe {
  width: 84vh;
}
#projectframe iframe {
  width: 84vh;
  height: 67.5vh;
}
#projectframe h1, h2 {
  margin-left: 1vh;
  top: 0;
  bottom: 7.5px;
}