body{
  font-family: 'Plus Jakarta Sans';
  color: white;
  margin: 0;
  padding: 0;
  background-image: url('/static/starbg.png');
}

@media (orientation:landscape){
.subtitle{
  top: 7.5px;
  margin: 0;
  font-size: 10vh;
  text-align: center;
}
#titleh1{
  margin: 0;
  bottom: 0;
  font-size: 5em;
  text-align: center;
}
#center-logo{
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  margin-bottom: auto;
}
}
@media (orientation: portrait) {
  .subtitle{
  top: 7.5px;
  margin: 0;
  font-size: 10vw;
  text-align: center;
}
#titleh1{
  margin: 0;
  bottom: 0;
  font-size: 5em;
  text-align: center;
}
#center-logo{
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vw;
  margin-bottom: auto;
}
}