<!DOCTYPE HTML>
<html>
  <head>
    <title>Create a Project | Polaris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="preload stylesheet" href="{{ url_for('static', filename='PlusJakartaSans.css') }}"/>
    <meta name="theme-color" content="#090909"
  </head>
  <body>
    <form method="post">
            <input type=text name=name placeholder="Project Name"><br>
            <input type=text name=description placeholder="Description">
            <br>
            <input type=text name=hash placeholder="IPFS hash">
            <br>
            <input type=submit value=Create>
        </form>
  </body>
</html>