<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ project.name }}| Polaris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="preload stylesheet" href="{{ url_for('static', filename='PlusJakartaSans.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-style.css') }}"/>
  </head>
  <body>
    <div id="projectframe"><h1 class="left-aligned">{{ project.name }}</h1>
    <h2 class="left-aligned">by {{ project.creator }}</h2>
    <iframe src="{{url_for_project}}" seamless="seamless">
    </iframe>
    </div>
  </body>
</html>